.domain_ul {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.c_scope {
    min-height: 34px;
    height: auto;
    overflow: hidden;
    resize: none;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
}

.wh600 {
    width: 600px;
!important;
}

.borderno {
    border: none;
    background-color: transparent;
}

.h34 {
    height: 34px;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.codeconfig {
    position: relative;
    min-height: 400px;
}

.codelist {
    display: block;
    opacity: 0;
}

/* 支付渠道选择样式 */
.pay-channel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.pay-channel-list .pay-item {
    display: flex;
    align-items: flex-start;
    width: 280px;
    height: 116px;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    padding: 12px 10px;
    margin-right: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    background: #fff;
}

.pay-channel-list .pay-item:hover {
    border-color: #FF7125;
}

.pay-channel-list .pay-item.active {
    border-color: #FF7125;
    /*background-color: #fffaf7;*/
}

.pay-item .pay-radio {
    margin-right: 8px;
    margin-top: 7px;
    margin-left: 4px;
}

.pay-item .radio-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    background: #fff;
}

.pay-item.active .radio-icon {
    border-color: #f37b1d;
}

.pay-item.active .radio-icon::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #f37b1d;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pay-item .pay-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.pay-item .pay-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    width: 100%;
    height: 20px;
}

.pay-item .pay-name {
    font-size: 14px;
    color: #222222;
    line-height: 30px;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.pay-item .pay-logo {
    height: 35px;
    max-width: 50px;
    object-fit: contain;
    margin-top: 14px;
    margin-right: 4px;
}

.pay-item .pay-desc {
    font-size: 14px;
    color: #999;
    line-height: 24px;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.pay-item .pay-desc.orange {
    color: #FF7125;
}

.pay-item .pay-desc2 {
    font-size: 14px;
    color: #999;
    line-height: 24px;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}
.pay-item .pay-price-display {
    display: none;
    font-size: 32px;
    color: #FF7125;
    font-weight: bold;
    margin-top: 10px;
    line-height: 34px;
    /*font-family: 'Averta';*/
    white-space: nowrap;
}

@font-face {
    font-family: "ForceLatin";
    src: local("Arial");
    unicode-range: U+0020-007E;
}

.payment .payment-display {
    font-family: "SF Mono", "Consolas", "Monaco", "Courier New", monospace;
}

.pay-item .pay-price-display .decimal {
    font-size: 18px;
    color: #FF7125;
    font-weight: bold;
    /*font-family: 'Averta';*/
}

.pay-item .pay-price-display .unit {
    font-size: 18px;
    color: #999;
    font-weight: bold;
    line-height: 34px;
    /*font-family: 'Averta';*/
}

.pay-item.active.has-price .pay-desc, .pay-item.active.has-price .pay-desc2 {
    display: none;
}

.pay-item.active.has-price .pay-price-display {
    display: block;
}

.ylimg {
    width: 40px;
    height: 26px;
}

.wechatimg {
    width: 38px;
    height: 34px;
}
.auth-text {margin-left: -24px;}
.new_relative{position:relative;}
.free_trust:before{ content:""; width:30px; height:16px; background:url(../images/trust_free.svg) no-repeat center center; background-size:100% auto; position:absolute; right:16%; top:4px;-webkit-animation: scroll_tip_icon 1s linear infinite; animation: scroll_tip_icon 1s linear infinite; }
@-webkit-keyframes scroll_tip_icon {
    0% { -webkit-transform: translateY(0); transform: translateY(0) }
    50% { -webkit-transform: translateY(6px); transform: translateY(6px) }
    100% { -webkit-transform: translateY(0); transform: translateY(0) }
}